<div class="container">
  <h1>
    Create new Listing
  </p>
  <form action="/category" method="POST">
    <p>
      Title: <input type="text" name="name"><br>
      Description: <input type="text" name="description">
    </p>
    <input type="submit" value="Submit">
  </form>
</div>
