<div class="container">
  <h1>Welcome to Alexlist!</h1>
  <h3>This is a small project made to emulate a craigslist like functionality
    using a sinatra skeleton.  It makes use of associations of models and active
    record to establish relationships, controllers to handle routes, and views
    to handle the actual displaying of web pages.  To check out the original
    craigslist feel free to click
    <a href="https://sfbay.craigslist.org/sfc/"><em>here!</em></a>
  </h3>

</div>
