<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center py-4">
        <h1 class="display-4">FAQ</h1>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto col-lg-6 col-md-8">
        <ul>
          <li class="mb-2"> <b>Do you rent boats?</b><br>  Holiday Marina does not rent any boats.</li>
          <li class="mb-2"> <b>What are your hours?</b><br>               
                Seasonal Hours:<br>
                8 AM -5 PM  Monday-Sunday <br>
                8-4:45 Gas Docks <br> <br>     
                Peak Season: (Memorial-Labor Day)<br>
                9-7 Monday-Sunday <br>
                9-6:45 Gas Docks</li>
          <li class="mb-2"> <b>How long does getting my boat out of storage take?</b><br>  If you call ahead we can almost always have your boat ready for when you arrive</li>
          <li class="mb-2"> <b>Is the boat ramp public?</b><br>  The boat ramp is private and for Holiday Marina patrons only.</li>
          <li class="mb-2"> <b>Is the parking public?</b><br>  The lot in front of <a href="http://hellosailornc.com/">Hello, Sailor</a> is reserved for restaurant and marina patrons, the rest of the parking is reserved for Holiday Marina patrons.</li>
        </ul>
      </div>
    </div>
  </div>
</div>