<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">FAQ</h1>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto col-lg-6 col-md-8">
        <ul>
          <li class="mb-2"> <b>Do you rent boats?</b>&nbsp;- Answer Here</li>
          <li class="mb-2"> <b>What are your hours?</b> - Answer Here</li>
          <li class="mb-2"> <b>How long does getting my boat out of storage take?</b>&nbsp;- Answer Here</li>
          <li class="mb-2"> <b>Is the boat ramp public?</b>&nbsp;- Answer Here</li>
          <li class="mb-2"> <b>Is the parking public?</b>&nbsp;- Answer Here</li>
        </ul>
      </div>
    </div>
  </div>
</div>