  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">On Site Services and Amenities</h1>
          <ul>
            <li class="mb-2"> <b>Service Shop:</b>&nbsp;- Holiday Boat Repair is located onsite to perform maintenance of your boat. The mechanics are certified in Mercruiser , OMC, Volvo, PCM, and Mercury. Whether it is a basic oil change or a winterization, our service shop can meet all your repair needs. The phone number is 704-892-1415.</li>
            <li class="mb-2"> <b>Gas Docks:</b> - We sell Ethanol free gas at our gas docks as well as ice, sodas, beer and snacks that are readily available while fueling your boat. We also have a Keco Pump-A-Head that can take care of your waste tanks at no charge to marina customers. This is a very busy and popular location for gas/restaurant customers. It is not a public pick up or drop off location.</li>
            <li class="mb-2"> <b>Bath House:</b> - The shower and bathroom facility at Holiday Marina is second to none. There is a keyed entrance to both the Ladies and Men's rooms to make sure only our customers are able to gain access. The bathrooms are so nice that they are comparable to those of a country club!</li>
            <li class="mb-2"> <b>Designated Wet Slip Parking:</b>&nbsp;- We are one of the few marinas on the lake with a parking area strictly designated for our Wet Slip customers. We understand that these particular boaters may be staying for entire weekends. So, parking spaces conveniently located close to your boat make coming or going a hassle free experience. We have parking passes printed annually and security checking those tags to ensure that only our patrons can access the lot.</li>
            <li class="mb-2"> <b>Golf Cart Valet:</b>&nbsp;- We offer a shuttle service using golf carts to bring you to and from your vehicle. This is very valuable on busy weekends as well as holidays.</li>
            <li class="mb-2"> <b>Private Boat Ramp:</b>&nbsp;- Our boat ramp at Holiday Marina is private and exclusive to our patrons only. It is a nice, deep ramp with a waiting dock to tie your boat off to while taking your trailer back to offsite storage. We do not have room for trailers in our parking lot at any time. In addition to that, we also do not allow any boat weighing over 12,000 pounds to access the ramp.</li>
            <li class="mb-2"> <b>Hull Cleaning:</b>&nbsp;- Holiday Marina offers hull cleaning up to 30'. In this process, typical residue from leaving your boat in the water will be removed. We can take a boat hull that is completely brown/green from algae stains and restore it back to its natural color.</li>
            <li class="mb-2"> <b>Haul Outs:</b>&nbsp;- We offer haul out service to our maintenance racks for boats up to 30'. However, there is a 2 day limit on maintenance rack time so be sure to have cleaning and/or service scheduled ahead of the haul out please!</li>
            <li class="mb-2"> <b>Jet Ski Slips:</b>&nbsp;- There are jet ski lifts located on various docks throughout the marina. The lifts are made by HydroHoist, which has a very reputable name in the boating industry. The jet skis are completely out of the water when stored on the lifts.</li>
            <li class="mb-2"> <b>Gazebo Area:</b>&nbsp;- The marina has a very nice gazebo equipped with picnic tables. This is a great place for the kids to hang out while the parents get the boat ready. Whether you are coming or going, the gazebo provides a nice, shady area to relax after a long day on the lake!</li>
            <li class="mb-2"> <b>Grill Area:</b>&nbsp;- This area is designed for patrons that would like to cook out while enjoying a scenic view of beautiful Lake Norman. There are two charcoal grills with a picnic table in between them making your experience convenient. We do not allow Gas grills on our docks so this is the only place where grilling is permitted at Holiday Marina.</li>
            <li class="mb-2"> <b>Hello, Sailor Restaurant:</b>&nbsp;- Hello, Sailor is located at Holiday Marina. This is a great place to grab a bite to eat either before or after a day of boating fun! It is also a wonderful place to listen to live music with a scenic view spanning 4 miles across Lake Norman. They have approximately 20 slips for boats to dock while grabbing food or cocktails.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>