<!-- <div class="py-1 grey-back">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-2">Boat Storage</h1>
        </div>
      </div>
    </div>
  </div> -->
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5"><img class="img-fluid d-block" src="/imgs/Marina_Pics/Inside_view/400.png"></div>
        <div class="col-md-7">
          <h1 class="">Dry Storage</h1>
          <ul>
            <li class="mb-2"> <b>Protected:</b>&nbsp;- Over 350 boats can be stored in the fully enclosed facility.</li>
            <li class="mb-2"> <b>Environmental:</b> - Both forklifts are run on propane instead of diesel in order to keep soot out of the air and off of your boats.</li>
            <li class="mb-2"> <b>Clean:</b> - Floor sweeping is run twice a week to minimize any accumulated dust from daily operation.</li>
            <li class="mb-2"> <b>Accessible:</b>&nbsp;- Building is located directly next to cleaning and maintenance racks with water and power for detailing or service.</li>
            <li class="mb-2"> <b>Sizing:</b>&nbsp;- Capable of housing any boats that range from 17' all the way up to 29' in length, with height taken into consideration.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-4"><img class="img-fluid d-block" src="/imgs/Marina_Pics/boat_view/400.png"></div>
        <div class="col-md-8">
          <h1 class="">Wet Storage</h1>
          <ul>
            <li class="mb-2"> <b>Secure:</b>&nbsp;- Every Dock has a 24 hour secure gate system to keep the marina expeience safe and enjoyable.</li>
            <li class="mb-2"> <b>Convenient:</b> - With 6' wide walkways, pull carts, and the flexibility to decorate, the docks are a home away from home.</li>
            <li class="mb-2"> <b>Flexible:</b>&nbsp;- We can support 200 boats of varying sizes, from 10' x 20' all the way up to 16' x 38'.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>