<!-- <div class="py-1 grey-back">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-2">Boat Storage</h1>
        </div>
      </div>
    </div>
  </div> -->
  <div class="py-0">
    <div class="container-fluid d-none d-md-block p-0">
      <div class="row">
        <div class="col-md-12 parallax" ></div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Dry Storage</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-2 col-6 p-4"> <i class="d-block fa fa-shield fa-3x mb-2 text-muted"></i>
          <h4> <b>Protected</b></h4>
          <p contenteditable="true">Over 350 boats can be stored in the fully enclosed facility, safe from sun damage, weather, and more</p>
        </div>
        <div class="col-lg-2 col-6 p-4"> <i class="d-block fa fa-leaf fa-3x mb-2 text-muted"></i>
          <h4><b>Environmental</b></h4>
          <p>Both forklifts are run on propane instead of diesel in order to keep soot out of the air and off of your boats.</p>
        </div>
        <div class="col-lg-2 col-6 p-4"> <i class="d-block fa fa-bathtub fa-3x mb-2 text-muted"></i>
          <h4> <b>Clean</b></h4>
          <p>Floor sweeping is run twice a week to minimize any accumulated dust from daily operation.</p>
        </div>
        <div class="col-lg-2 col-6 p-4"> <i class="d-block fa fa-magic fa-3x mb-2 text-muted"></i>
          <h4> <b>Convenient</b></h4>
          <p>Building is located directly next to cleaning and maintenance racks with water and power for detailing or service. </p>
        </div>
        <div class="col-lg-2 col-6 p-4"> <i class="d-block fa fa-sort-amount-asc fa-3x mb-2 text-muted"></i>
          <h4> <b>Sizing</b></h4>
          <p>Capable of housing any boats that range from 17' all the way up to 29' in length, with height taken into consideration. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Wet Storage</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 p-4"> <i class="d-block fa fa-lock fa-3x mb-2 text-muted"></i>
          <h4> <b>Secure</b></h4>
          <p>Every Dock has a 24 hour secure gate system to keep the marina expeience safe and enjoyable. Guests utilize a keycard for entry.</p>
        </div>
        <div class="col-md-4 col-6 p-4"> <i class="d-block fa fa-check-circle fa-3x mb-2 text-muted"></i>
          <h4> <b>Comfortable</b></h4>
          <p>With comfortable 6' wide walkways, pull carts for groceries/personal items, and the flexibility to decorate, the docks are a home away from home.&nbsp;&nbsp;</p>
        </div>
        <div class="col-md-4 col-6 p-4"> <i class="d-block fa fa-ship fa-3x mb-2 text-muted"></i>
          <h4><b>Flexible</b></h4>
          <p>We can support 200 boats of varying sizes, from 10' x 20' all the way up to 16' x 38'.</p>
        </div>
      </div>
    </div>
  </div>